// Css de Nav
@import 'src/styles/vars';

.nav {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: $fat-blue;
  color: $fat-white;
  height: 9vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  text-transform: uppercase;
  font-family: 'mailart_rubberstamp', 'Times New Roman', Times, serif;
  font-size: .8em;
  font-weight: 300;


  &-nav {
    &-link {
      padding: 0 .4em;
      -webkit-transition: 0.3s ease;
      -moz-transition: 0.3s ease;
      -o-transition: 0.3s ease;
      transition: 0.3s ease;
      font-size: 1.3em;
      font-weight: 700;
    }
    &-link:hover {
      border-bottom: 4px solid $fat-red;
      padding-bottom: 5px;
      border-top: 4px solid $fat-red;
      padding-top: 5px;
    }
  }
}

@media (max-width: 899px) {
  .onglet-audio {
    top: 0px !important;
  }
}

@media screen and (min-width: 900px) {
  .nav {
    height: 6vh;
  }
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  right: 20px;
  top: 10px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: $fat-white;
  border-radius: 2em;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: $fat-red;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: $fat-white;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
  top: 0px;
}

/* General sidebar styles */
.bm-menu {
  background: $fat-blue;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: $fat-white;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
  top: 0px;
  left: 0px;
}

// PLayer Audio - Mobile First

// Zone de lecteur

.audio-player { 
  width: 100% !important;
  position:fixed;
  top: 50px;
  background-color: #002F3F;
  flex-wrap: wrap;
  padding: 2vh;
  z-index: 2000;
  color: white !important;

  @media screen and (min-width: 899px) {
    width: 300px !important;
    position:fixed;
    top: 100px;
    background-color: #002F3F;
    flex-wrap: wrap;
    padding: 2vh;
    z-index: 2000;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
  }
}

// Conteneur de la zone lecteur

.player-audio {
  display: none !important;
}

.onglet-audio:hover .player-audio {
  display: block !important;
}

// Onglet casque pour ouvrir le lecteur audio

.onglet-audio {
  top: 7px !important;
  position: fixed !important;
  background-color: #002F3F !important;
  text-align: center !important;
  z-index: 2000 !important;
  border-top-right-radius: 50% !important;
  border-bottom-right-radius: 50% !important;
  @media screen and (min-width: 899px) {
    top: 100px !important;
    position: fixed !important;
    background-color: #002F3F !important;
    text-align: center !important;
    z-index: 2000 !important;
    border-top-right-radius: 50% !important;
    border-bottom-right-radius: 50% !important;
  }
}

// Icone de l'onglet

.onglet-audio p {
  color: white !important;
  padding: 1.1vh !important;
  padding-right: 1.5vh !important;
  font-size: 1.7em !important;
  @media screen and (min-width: 899px) {
    color: white !important;
    padding: 1.1vh !important;
    padding-right: 1.5vh !important;
    font-size: 1.7em !important;
  }
}

// Bouton Play

#play {
  width: 12.5% !important;
  margin-left: 25% !important;
  @media screen and (min-width: 899px) {
    width: 20% !important;
    margin-left: 10% !important;
  }
}

// Image bouton play

#play-icon {
  height: 2em !important;
  padding-right: 10px !important;
  @media screen and (min-width: 899px) {
    height: 50px !important;
    padding-right: 10px !important;
  }
}

// Bouton rewind

#rewind {
  width: 12.5% !important;
  @media screen and (min-width: 899px) {
    width: 20% !important;
  }
}

// Image bouton rewind

#rewind-icon {
  height: 2em !important;
  padding-right: 10px !important;
  @media screen and (min-width: 899px) {
    height: 50px !important;
    padding-right: 10px !important;
  }
}

// Bouton forward

#forward {
  width: 12.5% !important;
  @media screen and (min-width: 899px) {
    width: 20% !important;
  }
}

// Image bouton forward

#forward-icon {
  height: 2em !important;
  padding-right: 10px !important;
  @media screen and (min-width: 899px) {
    height: 50px !important;
    padding-right: 10px !important;
  }
}

// Bouton loop

#loop {
  width: 12.5% !important;
  margin-right: 25% !important;
  @media screen and (min-width: 899px) {
    width: 20% !important;
    margin-right: 10% !important;
  }
}

// Image bouton loop

#loop-icon {
  height: 2em !important;
  padding-right: 10px !important;
  @media screen and (min-width: 899px) {
    height: 50px !important;
    padding-right: 10px !important;
  }
}

.audio-player-track-name {
  width: 100% !important;
  margin-left: 25% !important;
  margin-right: 25% !important;
  margin-top: 10px;
  margin-bottom: 10px;
  @media screen and (min-width: 899px) {
    width: 100% !important;
  }
}

.marquee {
  width: 150px !important;
  font-size: 20px !important;
}

.audio-player-seeker {
  margin-left: 20% !important;
  margin-right: 20% !important;
  width: 60% !important;
}

.audio-player-time {
  margin-left: 40% !important;
  margin-right: 20% !important;
  width: 40% !important;
  text-align: center !important;
  margin-top: 10px;
}

.audio-player-volume {
  width: 100% !important;
  margin-top: 5px;
}

.audio-player-volume #volume {
  width: 12.5% !important;
  margin-left: 20% !important;
  @media screen and (min-width: 899px) {
    margin-left: 10% !important;
  }
}

.audio-player-volume .slide-container {
  width: 45% !important;
  margin-right: 10% !important;
  @media screen and (min-width: 899px) {
    width: 55% !important;
    margin-left: 25px;
  }
}

// Image volume

#volume-icon {
  height: 2em !important;
  @media screen and (min-width: 899px) {
    height: 50px !important;
    width: 50px;
  }
}