// Css de Nav

.nav {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color:#002F3F;
  color: #FEEFD4;
  height: 9vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  text-transform: uppercase;

  &-nav {
    &-link {
      padding: 0 .4em;
      transition: 0.3s ease;
    }
    &-link:hover {
      border-bottom: 4px solid #D73B25;
      padding-bottom: 5px;
      border-top: 4px solid #D73B25;
      padding-top: 5px;
    }
  }
}

@media (max-width: 899px) {
  .onglet-audio {
    top: 0px !important;
  }
}

@media screen and (min-width: 899px) {
  .nav {
    height: 6vh;
  }
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  right: 36px;
  top: 15px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #a90000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
  top: 0px;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
  top: 0px;
  left: 0px;
}

// PLayer Audio

.audio-player { 
  width: 50% !important;
  position:fixed;
  top: 100px;
  background-color: #002F3F;
  flex-wrap: wrap;
  padding: 2vh;
  z-index: 2000;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}

.player-audio {
  display: none;
}

.onglet-audio:hover .player-audio {
  display: block;
}

.onglet-audio {
  top: 100px;
  position: fixed;
  background-color: #002F3F;
  text-align: center;
  z-index: 2000;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}

.onglet-audio p {
  color: white;
  padding: 1.1vh;
  padding-right: 1.5vh;
  font-size: 1.7em;
}

#play {
  width: 2em;
}
#play-icon {
  height: 2em !important;
  padding-right: 10px;
}

#rewind {
  width: 2em;
}

#rewind-icon {
  height: 2em !important;
  padding-right: 10px;
}

#forward {
  width: 2em;
}

#forward-icon {
  height: 2em !important;
  padding-right: 10px;
}


#loop {
  width: 2em;
}

#loop-icon {
  height: 2em !important;
  padding-right: 10px;
}

#audio-player-track-name {
  width: 50px;
}