form {
    display: flex;
    flex-direction: column;
    padding: 3vh;
}

input, select, textarea {
    padding: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 1em;
    border: 3px solid grey;
    border-radius: 5px;
}

#title-form {
    margin-bottom: 10px;
}