// CSS de Section
@import 'src/styles/vars';

.header {

  &-title {
    position: absolute;
    bottom: 1em;
    right: 2em;
    font-size: 4em;
    font-weight: bold;
    color: white;
  }
}

.content {
  margin: 2em 0;
}
