// CSS News
@import 'src/styles/vars';

.news {  
  &-article {
    &-split {
      width: 100%;
      height: 10px;
      margin: 2em 0 1em;
      background: url('../../../../assets/barre-hr.png');
      background-size: 100% 10px;

      @include for-tablet-portrait-up {
        height: 15px;
        background-size: 100% 15px;
        margin: 3em 0 2em;
      }
    }

    &-header {
      margin-top: 1.2em;
      font-weight: bold;
      font-size: 1.2em;   
      
      @include for-tablet-portrait-up {
        font-size: 1.5em;
      }
    }

    &-aside {
      margin-top: .4em;
      font-size: .7em;
      font-style: italic;

      p {
        display: inline-block;
        margin-right: .4em;
      }

      
    }

    &-section {
      margin-top: .4em;
      font-size: .9em;

      p {
        margin-top: 1em;
      }
    }
  }
}

.wp-block-image {
  margin-top: .7em;

  figcaption {
    margin-top: .2em;
  }
}



// .news {
//   &-article {
//     display: grid;
//     grid-template-columns: 1fr 15% 55% 1fr;
//     grid-template-rows: auto;
//     grid-template-areas:
//       "split split split split"
//       ". header header ."
//       ". date content ."
//       ". cat content .";
//       justify-content: center;

//       &-split {
//         grid-area: split;
//         margin: 2em 0 1em;
//         height: 10px;
//         width: 100%;
//         background: url('../../../../assets/barre-hr.png');
//         background-size: 100% 10px;
//       }

//       &-header {
//         grid-area: header;
//         width: 100%;
//         margin: 1rem auto;
//         font-size: 1.1em;
//         font-weight: 700;
//       }
    
//       &-aside {
//         grid-area: date;
//         margin-top: .2rem;
//       }
    
//       &-section {
//         grid-area: content;
//         margin-top: .2em;
//         }
//   }  
// }
