// CSS News

.news {

  &-article {
    display: grid;
    grid-template-columns: 1fr 15% 55% 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "split split split split"
      ". header header ."
      ". date content ."
      ". cat content .";
      justify-content: center;

      &-split {
        grid-area: split;
        margin: 3em 0;
        height: 10px;
        width: 100%;
        background: url('../../../../assets/barre-hr.png');
        background-size: 100% 10px;
      }

      &-header {
        font-family: 'mailart_rubberstampregular', serif;
        grid-area: header;
        margin: 1rem 0;
        padding-left: 2rem;
        font-size: 1.3em;
        font-weight: 700;
      }
    
      &-aside {
        grid-area: date;
        padding-left: 2rem;
        margin-top: 1rem;
      }
    
      &-section {
        grid-area: content;
        margin-top: 1em;
        }
  }  
}
