#contact {
    width: 70vw;
    margin: 0 auto;
    &-booking {
        padding: 3vh;
        text-align: center;
    }
    &-bookingTitle {
        margin-bottom: 10px; 
    }
    &-bookingDiv {
        margin-top: 40px;
    }
    &-bookingType {
        margin-bottom: 20px;
    }
    &-form {
        text-align: center;
    }
}
@media screen and (min-width: 850px) {
    #contact {
        display: flex;

        &-booking {
            width: 50%;
        }
        &-form {
            width: 50%;
        }
    }
    form {
        width: 500px;
    }
}

form {
    display: flex;
    flex-direction: column;
    padding: 3vh;
    margin: 0 auto;
}

input, select, textarea {
    padding: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 1em;
    border: 3px solid grey;
    border-radius: 5px;    
}

#title-form {
    margin-bottom: 10px;
}