#ContactBooking {
    padding: 3vh;
}

#bookingmanagement {
    display: flex;
}

#booking {
    width: 50%;
}

#management {
    width: 50%;
}

#booking div {
    margin-top: 30px;
}

#management div {
    margin-top: 30px;
}

#title-booking, #title-management {
    margin-bottom: 20px;
}