// CSS Media


.media {
  
  &-video-one {
    // height: 20vh;
    margin: 2rem 0;
    // @media (max-width: 750px) {
    //   margin-bottom: 40vh;
    // }

    @media screen and (min-width: 750px) {
      height: 35vh;
    }
    
    @media screen and (min-width: 1024px) {
      height: 40vh;
    }
  }

  &-video-carousel {
    width: 90%;
    margin: 5vh auto;
    
    @media screen and (min-width:1024px){
      width: 93%;
      margin-top: 0;
    }
  }
}
