// CSS Media


.media {
  background-color:pink;
  
  &-video-one {
    background-color: rgb(47, 187, 47);
    height: 15vh;
  }

  &-video-carousel {
    background-color: rgb(101, 101, 190);
    height: 10vh;
    width: 65%;
    margin: 1.5vh auto;
  }
}
