@import 'src/styles/vars';

#app {
  width: 100%;
  background-color: $fat-white;
  color: $fat-blue;
}

.special-width {
  width: 85%;
  margin: 0 auto;

  // @include for-tablet-landscape-up {
  //   width: 80vw;
  // }

  // @include for-desktop-up {
  //   width: 75vw;
  // }
}
