// Css de App

#app {
  width: 100%;
  background-color: #FEEFD4;
  color: #002F3F;
}

.special-width {
  width: 85%;
  margin: 0 auto;

  @media screen and (min-width: 900px) {
    width: 80vw;
  }

  @media screen and (min-width: 1200px) {
    width: 75vw;
  }
}
