@import 'src/styles/vars';

#app {
  width: 100%;
  background-color: $fat-white;
  color: $fat-blue;
}

.special-width {
  width: 85%;
  margin: 0 auto;
  @include for-desktop-up {
    width: 60%;
  }
}
